<div id="status-info" hx-swap-oob="true">
  {% include "arena/fragments/status_info.html" %}
</div>


<div id="turn-indicator-white" hx-swap-oob="innerHTML">{% if game.side_to_move == "w" %}<span class="turn-badge">SORON</span>{% endif %}</div>
<div id="turn-indicator-black" hx-swap-oob="innerHTML">{% if game.side_to_move == "b" %}<span class="turn-badge">SORON</span>{% endif %}</div>

<div id="board" hx-swap-oob="true" class="lg:col-span-6 card p-4 shadow">
  {% include "arena/fragments/board.html" %}
</div>
